html,body{
    width: 100%;
    height: 100%;
}
#goods{
    width: 100%;
    #header{
        width: 100%;
        background: #fafafa;
        #box{
            width: 1200px;
            height: 30px;
            margin: auto;
            position: relative;
            .hul1{
                right: 0;
                top: 0;
                position: absolute;
                width: 770px;
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                li{
                    width: 90px;
                    height: 100%;
                    font-size: 12px;
                    line-height: 30px;
                    text-align: center;
                    a{
                        color: #999999;
                    }
                }
                #li2{
                    position: relative;
                    #ul2{
                        width: 120px;
                        height: 120px;
                        box-shadow:  0 0 10px;
                        position: absolute;
                        top: 32px;
                        justify-content: center;
                        align-items: center;
                        display: none;
                        li{
                            width: 110px;
                            height: 110px;
                            border-radius: 30px;
                            border: 1px solid #c9c9c9;
                            margin: auto;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            img{
                                width: 80%;
                                height: 80%;
                                margin: auto;
                            }
                        }
                    }
                }
                li:nth-child(4) a{
                    color: red;
                }
                li:nth-child(6) span{
                    color: #cf2042;
                    font-weight: bold;
                }
            }
        }
    }
    #banner{
        width: 1200px;
        height: 100px;
        margin: 10px auto ;
        display: flex;
        justify-content: space-between;
        align-items: center;
        p{  
            height: 40px;
            position: relative;
            .innews{
                border-top: 2px solid red;
                border-bottom: 2px solid red;
                width: 340px;
                height: 40px;
                padding-left: 120px;
                z-index: 1;
            }
            .img1{
                position: absolute;
                height: 46px;
                width: 100px;
                top: 0;
                left: -8px;
            }
            .img2{
                position: absolute;
                height: 50px;
                top: -1px;
                right: -18px;
            }
            span{
                position: absolute;
                top: 10px;
                right: 60px;
                height: 20px;
                display: block;
                border: 1px solid #c9c9c9;
            }
            .img3{
                position: absolute;
                width: 20px;
                height: 20px;
                top: 10px;
                right: 20px;
            }
            
        }
    }
    #nav1{
        width: 100%;
        height: 40px;
        margin-bottom: 4px;
        border-bottom: 1px solid #e5e5e5;
        #nrbtop{
            width: 1200px;
            height: 42px;
            margin: auto;
            ul{
                width: 100%;
                height: 40px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                li{
                    width: 120px;
                    height: 42px;
                    text-align: center;
                    line-height: 42px;
                }
                .nrli1:hover{
                    box-shadow:2px 0 10px ;
                    border-bottom: 2px solid red;
                }
                li:nth-child(8){
                    ul{
                        display: none;
                        z-index: 10;
                    }
                }
                li:nth-child(8):hover{
                    position: relative;
                    
                    ul{
                        display: block;
                        position: absolute;
                        bottom: -42px;
                        right: 400px;
                    }
                }
            }
        }
    }
    #main1{
        width: 1200px;
        height: 570px;
        margin: auto;
        position: relative;
        .asdpp{
            width: 400px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
        }
        .thisgood{
            width: 400px;
            height: 492px;
            display: flex;
            justify-content:space-around;
            li{
                width: 400px;
                height: 492px;
                .wrap {
                    width: 400px;
                    height: 492px;
                }
                #wrap{
                    /* margin-bottom: 50px; */
                    position: relative;
                    top: 0;
                    left: 0;
                    
                    .biger {
                        position: absolute;
                        overflow: hidden;
                        display: none;
                        left: 410px;
                        width: 400px;
                        height: 400px;
                        z-index: 10;
                        img {
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 200%;
                            height: 200%;
                        }
                    }
                    .imgs {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        .main {
                            position: relative;
                            overflow: hidden;
                            padding: 4px;
                            width: 390px;
                            height: 390px;
                            border: 1px solid #dadada;
                            img{
                                width: 100%;
                                height: 100%;
                            }
                            .mask {
                                position: absolute;
                                display: none;
                                left: 0;
                                top: 0;
                                width: 200px;
                                height: 200px;
                                background: url('../img/mask-bg.png') repeat;
                                cursor: crosshair;
                            }
                        }
                        .bottom {
                            width: 398px;
                            height: 72px;
                            position: relative;
                            margin: 10px 0;
                            p{
                                width: 35px;
                                height: 72px;
                                text-align: center;
                                line-height: 72px;
                                background: #777;
                                /* font-size: 24px; */
                                cursor: pointer;
                                float: left;
                            }
                            .prev{
                                margin-right: 5px;
                            }
                            .box{
                                width: 318px;
                                height: 72px;
                                overflow: hidden;
                                position: relative;
                                /* left: 40px;
                                top: 0; */
                                float: left;
                                margin-right: 5px;
                                .smaller {
                                    /* position: relative; */
                                    overflow: hidden;
                                    width: 400px;
                                    height: 72px;
                                    /* margin-top: 10px; */
                                    transition: all 1s;
                                    position: absolute;
                                    left: 0;
                                    top: 0;
                                    li {
                                        position: relative;
                                        float: left;
                                        padding: 2px;
                                        width: 64px;
                                        height: 64px;
                                        border: 2px solid #000;
                                        margin-left: 10px;
                                        cursor: pointer;
                                    
                                    }
                                    li:first-child {
                                        margin-left: 0;
                                    }
                                    .current {
                                        border-color: #ff6a00;
                                    }
                                    img{
                                        width: 100%;
                                        height: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .m1box1{
            width: 552px;
            height: 458px;
            position: absolute;
            top: 0;
            left: 430px;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: column;
            .m1p1{
                font-size: 14px;
                font-weight: bold;
            }
            .m1box11{
                width: 100%;
                height: 120px;
                background: #fff6eb;
                .mb1ul1{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: flex-start;
                    li{
                        height: 33%;
                    }
                    .mbli1{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 330px;
                        span:nth-child(1){
                            color: red;
                            font-size: 20px;
                        }
                        span:nth-child(2){
                            width: 30px;
                            border: 1px solid #999999;
                            position: absolute;
                            left: 90px;
                        }
                        span:nth-child(3){
                            color: #999999;
                            font-size: 14px;
                        }
                    }
                    .mbli2{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 280px;
                        span:nth-child(1){
                            color: white;
                            background: orange;
                            display: block;
                            width: 44px;
                            height: 20px;
                            font-size: 14px;
                            line-height: 20px;
                            text-align: center;
                        }
                        span:nth-child(2){
                            color: #000;
                            font-size: 14px;
                        }
                        span:nth-child(3){
                            color: #000;
                            font-size: 14px;
                        }
                    }
                    .mbli3{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 280px;
                        span:nth-child(1){
                            color: white;
                            background: pink;
                            display: block;
                            width: 44px;
                            height: 20px;
                            font-size: 14px;
                            line-height: 20px;
                            text-align: center;
                        }
                        span:nth-child(2){
                            color: pink;
                            font-size: 14px;
                        }
                        span:nth-child(3){
                            color: pink;
                            font-size: 14px;
                        }
                    }
                }
            }
            .m1box22{
                width: 100%;
                height: 110px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: flex-start;
                .mb1ul2{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: flex-start;
                    li{
                        height: 33%;
                    }
                    .mbli4{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 250px;
                        font-size: 14px;
                    }
                    .mbli5{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 250px;
                        font-size: 14px;
                        span:nth-child(2){
                            width: 18px;
                            height: 18px;
                            display: block;
                            background: red;
                            color: white;
                            text-align: center;
                            line-height: 18px;
                        }
                    }
                    .mbli6{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 270px;
                        font-size: 14px;
                        span:nth-child(2){
                            width: 106px;
                            height: 28px;
                            color: white;
                            border: 1px solid #999999;
                            display: block;
                            .cut{
                                width: 28px;
                                height: 28px;
                                text-align: center;
                                line-height: 28px;
                            }
                            .news{
                                width: 50px;
                                height: 28px;
                                text-align: center;
                                line-height: 28px;
                            }
                            .add{
                                width: 28px;
                                height: 28px;
                                text-align: center;
                                line-height: 28px;
                            }
                        }
                    }
                }
            }
            .mb1ul3{
                width: 340px;
                height: 54px;
                display: flex;
                justify-content: space-between;
                .mbli7{
                    width: 160px;
                    height: 54px;
                    border: 2px solid red;
                    text-align: center;
                    line-height: 54px;
                    color: red;
                    font-weight: bold;
                    box-sizing: border-box;
                }
                .mbli8{
                    width: 160px;
                    height: 54px;
                    background: red;
                    text-align: center;
                    line-height: 54px;
                    color: white;
                    font-weight: bold;
                }
            }
        }
        .m1cmimg{
            position: absolute;
            top: 0;
            right: 0;
        }
        .m1xmimg{
            position: absolute;
            bottom: 30px;
            left: 0;
        }
    }
    #footer{
        width: 100%;
        height: 468px;
        border-top: 2px solid red;
        .fbox1{
            width: 1200px;
            height: 314px;
            margin: auto;
            display: flex;
            justify-content: space-around;
            align-items: center;
            .fbox11{
                span{
                    background-image: url(../img/foot_icon.png);
                    display: block;
                    width: 84px;
                    height: 84px;
                    background-position: 0 0 ;
                }
                
                ul{
                    li{
                        margin-top: 6px;
                        font-size: 14px;
                        color: #ccc;
                    }
                    li:nth-child(1){
                        color: #000;
                        font-size: 18px;
                    }
                }
            }
            .fbox11:nth-child(2) span{
                background-position: -94px 0 ;
            }
            .fbox11:nth-child(3) span{
                background-position: -186px 0 ;
            }
            .fbox11:nth-child(4) span{
                background-position: 0 -92px ;
            }
            .fbox11:nth-child(5) span{
                background-position: -94px -92px ;
            }
            .fbox22{
                font-size: 14px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
            }
        }
        .fbox2{
            width: 1200px;
            height: 150px;
            // background: #000;
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            font-size: 14px;
            color: #ccc;
            img{
                width: 40px;
            }
        }
    }
    #celan{
        height: 100%;
        width: 34px;
        position: fixed;
        right: 0;
        top:0;
        background: #000;
        .celanul1{
            width: 100%;
            height: 290px;
            margin-top: 40px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            color: white;
            li:nth-child(1){
                width: 100%;
                height: 120px;
                font-size: 14px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                span{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    text-align: center;
                }
                p{
                    width: 26px;
                    height: 26px;
                    background: red;
                    border-radius: 50%;
                    color: white;
                    line-height: 26px;
                    text-align: center;
                    margin-top: 10px;
                }
            }
            li{
                position: relative;
                .clul1{
                    width: 100px;
                    height: 30px;
                    position: absolute;
                    left: -104px;
                    top: -4px;
                    display: none;
                }
            }
            li:hover .clul1{
                background: black;
                display: block;
            }
        }
        .celanul2{
            width: 100%;
            height: 214px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            margin-top: 310px;
            color: white;
            li{
                position: relative;
                .clul2{
                    text-align: center;
                    display: none;
                    width: 100px;
                    height: 30px;
                    position: absolute;
                    left: -104px;
                    top: -4px;
                }
            }
            li:hover .clul2{
                background: black;
                display: block;
            }
            li:nth-child(1):hover .clul2{
                font-size: 12px;
                display: flex;
                flex-direction: column;
                width: 140px;
                height: 50px;
                left: -144px;

            }
            li:nth-child(2):hover .clul2{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 160px;
                left: -164px;
                li{
                    width: 30px;
                    height: 20px;
                    border: 1px solid white;
                    font-size: 12px;
                    margin-right: 4px;
                }
            }
            li:nth-child(3):hover .clul2{
                background: white;
                display: block;
            }
            li:nth-child(3) .clul2{
                img{
                    width: 80px;
                }
            }
        }
    }
}